body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 14px;
font-family: arial,sans-serif;
}

ul {
    list-style: none;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    color: #222;
    padding: 15px;
}

.float_right {
    float: right;
}

.br_100 {
    border-radius: 100%;
    width: 30%;
}

.google_logo {
    display: block;
    margin: 0 auto;
}

