body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 14px;
font-family: arial,sans-serif;
}

ul {
    list-style: none;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    color: #222;
    padding: 15px;
}

.float_right {
    float: right;
}

.br_100 {
    border-radius: 100%;
    width: 30%;
}

.google_logo {
    display: block;
    margin: 0 auto; 
    clear: right;
    padding-top: 75px;

}

.searchContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    margin: 25px auto;
    width: 40%;
  }
  
  .searchIcon {
    padding: 0.5rem;
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  .centered {
      text-align: center;
  }

  .button {
      border: none;
      height: 2rem;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
  }